.topbar-wrapper
  .topbar
    .container.fixed
      %h3
        %a{ :href => '/' } Userchat

      %ul

      %ul.nav.secondary-nav
        - if user_signed_in?
          %li
            = link_to current_user.name, user_url(current_user)
          %li
            = link_to "Sign Out", signout_url
        - else
          %li
            = nav_item 'services', 'signin', 'Sign In'

